<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VMF_to_MDL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <VMF_to_MDL.Properties.Settings>
            <setting name="steamLibraryDir" serializeAs="String">
                <value />
            </setting>
            <setting name="selectedGame" serializeAs="String">
                <value />
            </setting>
            <setting name="selectedMod" serializeAs="String">
                <value />
            </setting>
        </VMF_to_MDL.Properties.Settings>
    </userSettings>
</configuration>